/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  display: flex;
  justify-content: center;
}

.legend li {
  margin: 0 50px;
}

.featureImplemented {
  color: #389e0d;
}
.featurePlanned {
  color: #c41d7f;
}
