.SubscribeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 300px;
  background-color: #40a9ff;
  text-align: center;
}

.SubscribeContainer h1 {
  padding-top: 10px;
  color: #002c8c;
  font-size: 1.5rem;
  font-weight: 700;
}

.SubscribeContainer img {
  margin-left: 25px;
  margin-top: 5px;
}
